@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&family=Montserrat:wght@300;400;500&family=Roboto:wght@100;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Maven Pro', 'Roboto', 'Montserrat';
}

html{
    scroll-behavior: smooth;
}


/* FOR HOME AND ABOUT PAGE */

body{
    min-height: 100vh;
    background: #fff;
}

/* for the navbar */
.navbar{
    position: absolute;
    width: 100%;
    z-index: 999;
    padding: 30px 70px;
}


.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #FF0000;
    font-size: 18px;
    font-weight: 500;
}

.navbar .logo a span{
    color: rgb(0, 0, 0);
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    margin-left: 30px;
    padding: 6px 20px;
    border-radius: 10px;
}

.navbar .menu li a:hover{
    background: #FF0000;
    color: white;
}

.navbar .menu li a#active{
    background: #FF0000;
    color: white;
}

/* for the home */

.home{
    position: relative;
    padding-top: 200px;
}

.home img{
    position: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: auto;
    justify-content: center;
    padding-bottom: 0;
}

.text{
    font-size: 40px;
}

.text h1{
    text-align: center;
    font-family: 'Montserrat';
}

.text h1 span{
    font-family: 'Montserrat';
    color: #FF0000;
}


